---
layout: base
---


    <h1>Training material</h1>

    <h2>Galaxy use</h2>

    <table>
        {% for topic in site.data %}
            {% if topic[1].type == "use" %}
            <tr>
                  {% assign introduction=0 %}
                  {% for tuto in topic[1].material %}
                      {% if tuto.type == "introduction" %}
                        {% assign introduction=introduction | plus:1 %}
                      {% endif %}
                  {% endfor %}

                  <td>{{ topic[1].title }}</td>
                  <td>
                    {% if introduction != 0 %}
                    <a href="{{ site.url }}/{{ topic[1].name }}/slides/{{ topic[1].slides }}"> :mortar_board: </a>
                    {% endif %}
                  </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <h2>Galaxy development and administration</h2>

    <table>
        {% for topic in site.data %}
            {% if topic[1].type == "admin-dev" %}
            <tr>
                  {% assign tutorial_number=0 %}
                  {% assign introduction=0 %}
                  {% for tuto in topic[1].material %}
                      {% if tuto.type == "introduction" %}
                        {% assign introduction=introduction | plus:1 %}
                      {% endif %}
                  {% endfor %}

                  <td>{{ topic[1].title }}</td>
                  <td>
                    <a href="{{ site.url }}/{{ topic[1].name }}/slides/{{ topic[1].slides }}"> :mortar_board: </a>
                  </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>


